* {
    font-family: 'Lilita One', sans-serif;
    margin: 0;
    padding: 0;
}


header nav ul {
    display: flex;
    justify-content: center;  
    color: rgb(0, 0, 0);
    display: flex;
    background-color: cornflowerblue;
    font-family: 'Lilita One',sans-serif;
    font-size: 16px;
    margin-bottom: 12px;
    padding: 10px;
}

nav ul li {
    list-style: none;
    margin-left: 16px;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}



h2 {
    display: flex;
    justify-content: center;
    color: crimson;
    background-color: khaki;
    font-size: 45px;
    font-family: 'Lilita One', sans-serif;

    .lilita-one-regular {
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

h3 {
display: flex;
    justify-content: center;
    color:darkred;
    background-color: rgb(255, 252, 229);
    font-size: 35px;
    font-family: 'Lilita One', sans-serif;

    .lilita-one-regular {
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

p {
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 70);
    margin-left: 10px;
    padding-left: 10px;

.lato-regular {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}

footer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: cornflowerblue;
    padding: 14px;
    color: rgb(0, 0, 0);

}

img {
    align-self:flex-end;
    margin: 32px;
    padding: 30px;

}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Lilita One', sans-serif;
    color: rgb(255, 43, 43);
    background-color: rgb(255, 247, 237);

.lilita-one-regular {
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}


section p {
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 70);
    background-color: aliceblue;

    .lato-regular {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}