* {
  font-family: 'Lilita One', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color:cornflowerblue;
}

header nav a {
  display: flex;
  justify-content: space-between;
  font-family: 'Lilita One', Geneva, Tahoma, sans-serif;
  margin-bottom: 12px;
  padding: 10px;
}

nav ul li {
  list-style: none;
  margin-left: 16px; 
}

ul {
  display:flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

li{
  
}

h1{
  display: flex;
  justify-content: center;
  color:crimson;
  background-color:khaki;
  font-size: 45px;
  font-family: 'Lilita One', Tahoma, Geneva, Verdana, sans-serif;
  .lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

h3 div p{
  justify-content: center;
  font-family:'Lato', sans-serif;
  font-size: 20px;
  color:rgb(0, 0, 70);
  margin-left: 10px;
  padding-left: 10px;
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
}

footer {
  display:flex;
  justify-content: center;
  font-size: 18px;
  background-color:cornflowerblue;
  padding: 14px;
  color: rgb(0, 0, 0);
  
}

img{  
 align-self: center;
 margin: 32px;
  
}

h2{
  display: flex;
  justify-content: center;
  font-family:'Bungee', sans-serif;
  color: rgb(255, 43, 43);
  background-color:bisque;
  .bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  }


section p{
  justify-content: center;
  font-family:'Lato', sans-serif;
  color:rgb(0, 0, 70);
  background-color: aliceblue;
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}