header nav a {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-decoration: none;
  color: blueviolet;
  background-color: rgb(255, 249, 242);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
  display: flex;
  justify-content: center;
  color: rgb(255, 43, 43);
  background-color:bisque;
  font-size: 45px;
  font-family: 'Lilita One', Tahoma, Geneva, Verdana, sans-serif;
  .lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

h3{
  justify-content: center;
  font-family:'Lato', sans-serif;
  color: black;
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
}

footer {
  display: flex;
  justify-content: center;
  font-size: medium;
  background-color: rgb(151, 234, 255);
  padding: 16px;
  color: rgb(0, 0, 0);
  
}

img{  
 align-self: center;
 margin: 32px;
  
}

h2{
  display: flex;
  justify-content: center;
  font-family:'Bungee', sans-serif;
  color: rgb(255, 43, 43);
  background-color:bisque;
  .bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  }


section p{
  justify-content: center;
  font-family:'Lato', sans-serif;
  color:rgb(0, 0, 70);
  background-color: aliceblue;
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}